body{
    margin: 0;
    padding: 0;
}



/* navbar styles */
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    display: grid;
    grid-template-columns: 20% auto 20%;
    align-items: center;
}

.logo{
    background-color: brown;
    
}

.search{
    background-color: aqua;
}

.icons{
    background-color: aquamarine;

}

/* main-section styles */

.main{
    display: grid;
    grid-template-columns: 70% auto;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
     "ytvideo sidebar"
     "description sidebar"
     "subscribe sidebar"
     "comments sidebar";
    margin: 56px 0 0 0;
}

.yt-video{
    background-color: azure;
    grid-area: ytvideo;
}

.description{
    background-color: beige;
    grid-area: description;
    border-bottom: 1px solid black;
}

.comments{
    background-color: bisque;
    grid-area: comments;
}

.sidebar{
    background-color: #f2f2f2;
    grid-area: sidebar;
}

.subscribe{
    background-color: blanchedalmond;
    grid-area: subscribe;
    display: grid;
    grid-template-columns: 10% auto 20%;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    "subimg subdetails subbtn"
    ". subdetails ."
    ". subdetails .";
}

/* description styles */

.desc-views{
    display: inline-block;
}

.desc-right{
    display: inline-block;
    margin-left: 60%;
}

/* subscribe styles */
.sub-details{
    grid-area: subdetails;
}

.sub-img{
    grid-area: subimg;
}

.sub-btn{
    grid-area: subbtn;
}

#autoplay{
    float: right;
}

.comments img {
    float: left;
}