body{
    margin: 0;
    padding: 0;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    display: grid;
    grid-template-columns: 20% auto 20%;
    align-items: center;
}

.main{
    display: grid;
    grid-template-columns: 70% auto;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
     "ytvideo sidebar"
     "description sidebar"
     "subscribe sidebar"
     "comments sidebar";
}

.logo{
    background-color: brown;
    
}

.search{
    background-color: aqua;
}

.icons{
    background-color: aquamarine;
    
}

.yt-video{
    background-color: azure;
    grid-area: ytvideo;
}

.description{
    background-color: beige;
    grid-area: description;
}

.comments{
    background-color: bisque;
    grid-area: comments;
}

.sidebar{
    background-color: black;
    grid-area: sidebar;
}

.subscribe{
    background-color: blanchedalmond;
    grid-area: subscribe;
}